<nav class="navbar" id="navbar" >
    <div class="navbar-header col-md-2">
      <a class="navbar-brand" href="#">NN - Inventory M S</a>
    </div> 
    <div class="col-md-12" >
      <ul class="nav navbar-nav navbar-right" style="padding-right: 2em">
        <li><a href="#"><i class="icon fa fa-sign-in"></i> Login</a></li>
        <li class="dropdown" id="data_user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/picture/user.png" class="user-image" alt="image" height="20px" id="inv_img">
              <span class="hidden-xs">Username</span>
            </a>  
            <ul class="dropdown-menu" id="dropdown_navbar">
              <!-- Image -->
              <li class="user-header" style="text-align: center">
                <img src="/picture/user.png" class="img-circle" alt="user_img" height="150px">
                <p  >
                  Nani Renova Hutagaol - Web Developer
                </p>
              </li>  
              <!-- Footer-->
              <li class="user-footer"> 
                <div class="pull-right">
                  <button class="btn btn-primary" id="logout">Logout</button> 
                </div>
              </li>
            </ul>
          </li>
      </ul>
    </div>
</nav>