<ul class="nav" id="aside">
  <li class="active" id="dashboardA">
    <a href="/">Dashboard</a>
  </li>
  <li class="" id="dashboardE">
    <a href="/request">Dashboard</a>
  </li>
   <li class="" id="dashboardS">
    <a href="/request">Dashboard</a>
  </li>
  <li id="inventoryA">
    <a href="/inventory">Inventory</a>
  </li> 
  <li id="inventoryE">
    <a href="/inventory/inventoryByEmployee.html">Inventory</a>
  </li> 
  <li id="requestA">
    <a href="/request">Form Request</a>
  </li>
  <li id="employeeA">
    <a href="/employee">Employee</a>
  </li>
  <li id="supervisorA">
    <a href="/supervisor">Supervisor</a>
  </li>
  <li id="userA">
    <a href="/user">User</a>
  </li>
</ul> 